.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
/_build/
/_build/default/lib/goldrush/ebin/
/_build/default/lib/credentials_obfuscation/ebin/
/_build/default/lib/ranch/ebin/
/_build/**/ebin/
